.group-child-form {
    position: absolute;
    top: -0.78px;
    left: -0.78px;
    width: 77.94px;
    height: 56.12px;
  }
  .ou-form {
    color: #ecdb84;
  }
  .bgr-form,
  .house-form {
    position: absolute;
    top: 26.5px;
    left: 7.79px;
  }
  .bgr-form {
    top: 10.91px;
    left: 15.59px;
    font-size: 21.82px;
    font-weight: 900;
    text-shadow: 0 6.235294818878174px 6.24px rgba(0, 0, 0, 0.25);
  }
  .blue-house-icon-isolated-form {
    position: absolute;
    top: 6.24px;
    left: 14.03px;
    width: 18.71px;
    height: 15.59px;
    object-fit: cover;
  }
  .vector-parent-form {
    position: absolute;
    top: 45.72px;
    left: 96px;
    width: 76.38px;
    height: 54.56px;
    cursor: pointer;
    font-size: 18.71px;
    color: #fff;
    font-family: Poppins;
  }
  .where-is-the-form {
    position: absolute;
    top: 168px;
    left: 320px;
    display: inline-block;
    width: 640px;
  }
  .countryregion-form {
    position: absolute;
    top: calc(50% - 12.5px);
    left: 24px;
    line-height: 153.99%;
    opacity: 0.6;
  }
  .frame-child-form {
    position: absolute;
    width: 3.4%;
    top: calc(50% - 2.14px);
    right: 3.41%;
    left: 93.19%;
    max-width: 100%;
    overflow: hidden;
    height: 7.03px;
  }
  .countryregion-parent-form {
    position: relative;
    border-radius: 8px;
    border: 1px solid #26b99e;
    box-sizing: border-box;
    width: 460px;
    height: 57px;
    overflow: hidden;
    flex-shrink: 0;
  }
  .frame-group-form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 16px;
  }
  .frame-parent-form {
    position: absolute;
    top: 296px;
    left: 172px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 40px;
    text-align: left;
    font-size: 16px;
    color: #454545;
  }
  .how-many-toilets-form {
    position: absolute;
    top: 177px;
    left: calc(50% - 1184px);
    display: inline-block;
    width: 640px;
    opacity: 0;
  }
  .back-form {
    position: absolute;
    top: 13px;
    left: 51px;
    font-weight: 500;
  }
  .back-wrapper-form {
    position: relative;
    border-radius: 16px;
    border: 1px solid #d9d9d9;
    box-sizing: border-box;
    width: 144px;
    height: 51px;
    cursor: pointer;
  }
  .next-form {
    position: absolute;
    top: 13px;
    left: 53px;
    font-weight: 500;
  }
  .next-wrapper-form {
    position: relative;
    border-radius: 16px;
    background-color: #146859;
    border: 0.8px solid #bebdbd;
    box-sizing: border-box;
    width: 144px;
    height: 51px;
    cursor: pointer;
    color: #fff;
  }
  .frame-parent1-form {
    position: absolute;
    top: 587px;
    left: calc(50% - 203px);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 120px;
    font-size: 16px;
    font-family: Poppins;
  }
  .land-lord-registration-form {
    position: relative;
    background-color: #fff;
    width: 100%;
    height: 816px;
    overflow: hidden;
    text-align: center;
    font-size: 42px;
    color: #171313;
    font-family: Arial;
  }
  