.vector-icon7 {
    position: relative;
    width: 17.16px;
    height: 20.95px;
  }
  .lagosisland-nigeria {
    position: relative;
    line-height: 122%;
    font-weight: 600;
    display: inline-block;
    width: 116.5px;
    flex-shrink: 0;
  }
  .vector-parent7 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 3.99px;
  }
  .n {
    position: absolute;
    top: 0;
    left: 1px;
  }
  .group-inner,
  .group-item {
    position: absolute;
    top: 9.48px;
    left: -0.5px;
    border-top: 1px solid var(--color-gray-100);
    box-sizing: border-box;
    width: 12.97px;
    height: 1px;
  }
  .group-inner {
    top: 11.47px;
  }
  .div,
  .n-parent {
    position: relative;
  }
  .n-parent {
    width: 11.97px;
    height: 21px;
  }
  .div {
    font-size: var(--font-size-xs);
  }
  .group-parent2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: var(--gap-11xs);
  }
  .anually {
    position: relative;
    font-size: var(--font-size-3xs);
    font-weight: 500;
    color: var(--color-darkslategray);
    margin-top: -6.98px;
  }
  .frame-parent7,
  .frame-parent8 {
    display: flex;
    justify-content: flex-start;
  }
  .frame-parent8 {
    width: 67.61px;
    flex-direction: column;
    align-items: center;
    font-size: 13.97px;
  }
  .frame-parent7 {
    position: absolute;
    top: 0;
    left: 0;
    width: 249.17px;
    height: 33.93px;
    flex-direction: row;
    align-items: flex-start;
    gap: var(--gap-24xl-9);
  }
  .monday-25th-sept {
    position: absolute;
    top: 37.99px;
    left: 21px;
    font-weight: 300;
    display: inline-block;
    width: 146px;
  }
  .frame-parent6 {
    position: absolute;
    top: 251.01px;
    left: 0;
    width: 249.17px;
    height: 55.99px;
  }
  .mr-james-alaka {
    line-height: 93.5%;
  }
  .landlord {
    font-size: 7.36px;
    line-height: 101%;
    font-weight: 500;
  }
  .mr-james-alaka-container {
    position: absolute;
    top: 222.51px;
    left: 4.6px;
    display: inline-block;
    width: 78.15px;
    -webkit-text-stroke: 0.9px #146859;
  }
  .ellipse-icon {
    position: absolute;
    top: 185.73px;
    left: 6.44px;
    border-radius: 50%;
    width: 33.1px;
    height: 33.1px;
    object-fit: cover;
  }
  .frame-child7 {
    position: absolute;
    height: 7.49%;
    width: 8.76%;
    top: 3.28%;
    right: 4.35%;
    bottom: 89.23%;
    left: 86.89%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
  }
  .mr-james-alaka-landlord-parent {
    position: relative;
    border-radius: 8.24px;
    width: 250.09px;
    height: 245.5px;
    overflow: hidden;
    flex-shrink: 0;
    background-image: url(/public/frame-174@3x.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
  }
  .frame-wrapper1 {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    font-size: 9.19px;
    color: var(--color-white);
  }
  .group-div {
    width: 250.09px;
    height: 307px;
    cursor: pointer;
    font-size: var(--font-size-xs);
  }
  .div1,
  .group-div {
    position: relative;
  }
  .group-parent4 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-11xs);
  }
  .anually1 {
    position: relative;
    font-size: 9.98px;
    font-weight: 500;
    color: var(--color-darkslategray);
    margin-top: -6.98px;
  }
  .frame-parent11 {
    width: 67.61px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
  .monday-25th-sept1 {
    position: absolute;
    top: 37.92px;
    left: 21.15px;
    font-size: 9.98px;
    font-weight: 300;
    display: inline-block;
    width: 130.03px;
  }
  .frame-parent9 {
    position: absolute;
    top: 251.01px;
    left: 0;
    width: 249.17px;
    height: 52.92px;
  }
  .ellipse-div,
  .frame-child10,
  .frame-child11,
  .frame-child12,
  .frame-child9 {
    position: absolute;
    top: 222.51px;
    left: 98.38px;
    border-radius: 50%;
    background-color: var(--color-gainsboro);
    box-shadow: 0 3.6778507232666016px 4.6px 3.68px rgba(0, 0, 0, 0.12);
    width: 5.52px;
    height: 5.52px;
  }
  .frame-child10,
  .frame-child11,
  .frame-child12,
  .frame-child9 {
    left: 105.74px;
  }
  .frame-child10,
  .frame-child11,
  .frame-child12 {
    left: 113.09px;
    background-color: var(--color-white);
  }
  .frame-child11,
  .frame-child12 {
    left: 120.45px;
    background-color: var(--color-gainsboro);
  }
  .frame-child12 {
    left: 127.81px;
  }
  .frame-wrapper2,
  .mr-james-alaka-landlord-group {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
  }
  .mr-james-alaka-landlord-group {
    position: relative;
    border-radius: 8.24px;
    width: 250.09px;
    height: 245.5px;
    overflow: hidden;
    flex-shrink: 0;
    background-image: url(/public/frame-1741@3x.png);
  }
  .frame-wrapper2 {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    background-image: url(/public/frame-178@3x.png);
    font-size: 9.19px;
    color: var(--color-white);
  }
  .group-parent3 {
    position: relative;
    width: 250.09px;
    height: 303.93px;
  }
  .mr-james-alaka-landlord-container,
  .mr-james-alaka-landlord-parent1 {
    position: relative;
    border-radius: 8.24px;
    width: 250.09px;
    height: 245.5px;
    overflow: hidden;
    flex-shrink: 0;
    background-image: url(/public/frame-1742@3x.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
  }
  .mr-james-alaka-landlord-parent1 {
    background-image: url(/public/frame-1743@3x.png);
  }
  .group-parent1 {
    position: absolute;
    top: 416px;
    left: 116px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    gap: var(--gap-base);
    display: grid;
  grid-template-columns: repeat(4, 1fr); 
  gap: 20px;
  }
  
.grid-item {
    width: 100%;
  }

  .mr-james-alaka-landlord-parent2,
  .mr-james-alaka-landlord-parent3,
  .mr-james-alaka-landlord-parent4,
  .mr-james-alaka-landlord-parent5 {
    position: relative;
    border-radius: 8.24px;
    width: 250.09px;
    height: 245.5px;
    overflow: hidden;
    flex-shrink: 0;
    background-image: url(/public/frame-1744@3x.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
  }
  .mr-james-alaka-landlord-parent3,
  .mr-james-alaka-landlord-parent4,
  .mr-james-alaka-landlord-parent5 {
    background-image: url(/public/frame-1745@3x.png);
  }
  .mr-james-alaka-landlord-parent4,
  .mr-james-alaka-landlord-parent5 {
    background-image: url(/public/frame-1746@3x.png);
  }
  .mr-james-alaka-landlord-parent5 {
    background-image: url(/public/frame-1747@3x.png);
  }
  .group-parent9 {
    position: absolute;
    top: 747px;
    left: 116px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    gap: var(--gap-base);
  }
  .mr-james-alaka-landlord-parent6,
  .mr-james-alaka-landlord-parent7 {
    position: relative;
    border-radius: 8.24px;
    width: 250.09px;
    height: 245.5px;
    overflow: hidden;
    flex-shrink: 0;
    background-image: url(/public/frame-1748@3x.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
  }
  .mr-james-alaka-landlord-parent7 {
    background-image: url(/public/frame-1749@3x.png);
  }
  .vector-parent17 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 3.99px;
  }
  .mr-james-alaka-landlord-parent8,
  .mr-james-alaka-landlord-parent9 {
    position: relative;
    border-radius: 8.24px;
    width: 250.09px;
    height: 245.5px;
    overflow: hidden;
    flex-shrink: 0;
    background-image: url(/public/frame-17410@3x.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
  }
  .mr-james-alaka-landlord-parent9 {
    background-image: url(/public/frame-17411@3x.png);
  }
  .group-parent18 {
    position: absolute;
    top: 1074.93px;
    left: 116px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-base);
  }
  .mr-james-alaka-landlord-parent10,
  .mr-james-alaka-landlord-parent11,
  .mr-james-alaka-landlord-parent12,
  .mr-james-alaka-landlord-parent13 {
    position: relative;
    border-radius: 8.24px;
    width: 250.09px;
    height: 245.5px;
    overflow: hidden;
    flex-shrink: 0;
    background-image: url(/public/frame-17412@3x.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
  }
  .mr-james-alaka-landlord-parent11,
  .mr-james-alaka-landlord-parent12,
  .mr-james-alaka-landlord-parent13 {
    background-image: url(/public/frame-17413@3x.png);
  }
  .mr-james-alaka-landlord-parent12,
  .mr-james-alaka-landlord-parent13 {
    background-image: url(/public/frame-17414@3x.png);
  }
  .mr-james-alaka-landlord-parent13 {
    background-image: url(/public/frame-17415@3x.png);
  }
  .group-parent27 {
    position: absolute;
    top: 1402.86px;
    left: 116px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-base);
  }
  .frame-wrapper17,
  .mr-james-alaka-landlord-parent14 {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
  }
  .mr-james-alaka-landlord-parent14 {
    position: relative;
    border-radius: 8.24px;
    width: 250.09px;
    height: 245.5px;
    overflow: hidden;
    flex-shrink: 0;
    background-image: url(/public/frame-17416@3x.png);
  }
  .frame-wrapper17 {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    background-image: url(/public/frame-181@3x.png);
    font-size: 9.19px;
    color: var(--color-white);
  }
  .mr-james-alaka-landlord-parent15,
  .mr-james-alaka-landlord-parent16,
  .mr-james-alaka-landlord-parent17 {
    position: relative;
    border-radius: 8.24px;
    width: 250.09px;
    height: 245.5px;
    overflow: hidden;
    flex-shrink: 0;
    background-image: url(/public/frame-17417@3x.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
  }
  .mr-james-alaka-landlord-parent16,
  .mr-james-alaka-landlord-parent17 {
    background-image: url(/public/frame-17418@3x.png);
  }
  .mr-james-alaka-landlord-parent17 {
    background-image: url(/public/frame-17419@3x.png);
  }
  .group-parent36 {
    position: absolute;
    top: 1730.79px;
    left: 116px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-base);
  }
  .mr-james-alaka-landlord-parent18 {
    position: relative;
    border-radius: 8.24px;
    width: 250.09px;
    height: 245.5px;
    overflow: hidden;
    flex-shrink: 0;
    background-image: url(/public/frame-17420@3x.png);
  }
  .frame-wrapper22,
  .mr-james-alaka-landlord-parent18,
  .mr-james-alaka-landlord-parent19 {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
  }
  .mr-james-alaka-landlord-parent19 {
    position: relative;
    border-radius: 8.24px;
    width: 250.09px;
    height: 245.5px;
    overflow: hidden;
    flex-shrink: 0;
    background-image: url(/public/frame-17421@3x.png);
  }
  .frame-wrapper22 {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    background-image: url(/public/frame-182@3x.png);
    font-size: 9.19px;
    color: var(--color-white);
  }
  .mr-james-alaka-landlord-parent20,
  .mr-james-alaka-landlord-parent21 {
    position: relative;
    border-radius: 8.24px;
    width: 250.09px;
    height: 245.5px;
    overflow: hidden;
    flex-shrink: 0;
    background-image: url(/public/frame-17422@3x.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
  }
  .mr-james-alaka-landlord-parent21 {
    background-image: url(/public/frame-17423@3x.png);
  }
  .group-parent45 {
    position: absolute;
    top: 2058.72px;
    left: 97px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-base);
  }
  .mr-james-alaka-landlord-parent22,
  .mr-james-alaka-landlord-parent23,
  .mr-james-alaka-landlord-parent24,
  .mr-james-alaka-landlord-parent25 {
    position: relative;
    border-radius: 8.24px;
    width: 250.09px;
    height: 245.5px;
    overflow: hidden;
    flex-shrink: 0;
    background-image: url(/public/frame-17424@3x.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
  }
  .mr-james-alaka-landlord-parent23,
  .mr-james-alaka-landlord-parent24,
  .mr-james-alaka-landlord-parent25 {
    background-image: url(/public/frame-17425@3x.png);
  }
  .mr-james-alaka-landlord-parent24,
  .mr-james-alaka-landlord-parent25 {
    background-image: url(/public/frame-17426@3x.png);
  }
  .mr-james-alaka-landlord-parent25 {
    background-image: url(/public/frame-17427@3x.png);
  }
  .group-parent54 {
    position: absolute;
    top: 2386.65px;
    left: 116px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-base);
  }
  .recently-sold-and {
    position: relative;
    line-height: 110%;
    font-weight: 500;
    display: inline-block;
    width: 291px;
    height: 34px;
    flex-shrink: 0;
  }
  .recently-sold-and-rent-wrapper {
    position: absolute;
    top: 2602px;
    left: -2192px;
    background-color: var(--color-teal-100);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: var(--font-size-5xl);
    color: var(--color-white);
  }
  .frame-icon {
    position: relative;
    width: 287px;
    height: 272px;
    overflow: hidden;
    flex-shrink: 0;
    object-fit: cover;
  }
  .frame-parent90,
  .frame-parent91 {
    display: flex;
    align-items: flex-start;
  }
  .frame-parent91 {
    width: 1016px;
    overflow-x: auto;
    flex-direction: row;
    justify-content: flex-start;
    gap: var(--gap-8xl);
  }
  .frame-parent90 {
    position: absolute;
    top: 2644px;
    left: -2192px;
    flex-direction: column;
    justify-content: center;
    gap: var(--gap-xl);
  }
  .listed-few-days {
    position: relative;
    line-height: 110%;
    font-weight: 500;
    display: inline-block;
    width: 265px;
    height: 34px;
    flex-shrink: 0;
  }
  .listed-few-days-ago-wrapper {
    background-color: var(--color-teal-100);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .frame-child82 {
    position: relative;
    background-color: var(--color-white);
    width: 287px;
    height: 272px;
    overflow: hidden;
    flex-shrink: 0;
  }
  .frame-wrapper29 {
    width: 1016px;
    overflow-x: auto;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .frame-parent93,
  .frame-parent94 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: var(--gap-xl);
  }
  .frame-parent93 {
    position: absolute;
    top: 1936px;
    left: -2192px;
    box-shadow: 0 20px 24px rgba(0, 0, 0, 0.12);
    height: 620px;
    justify-content: flex-start;
    text-align: center;
    font-size: var(--font-size-5xl);
    color: var(--color-white);
  }
  .new-redesign-inner {
    position: absolute;
    top: -621px;
    left: 1365px;
    width: 287px;
    height: 272px;
    overflow: hidden;
    object-fit: cover;
  }
  .group-child54 {
    position: absolute;
    top: 557.87px;
    left: 13.38px;
    width: 1258.42px;
    height: 153.26px;
  }
  .modern-residential-district-wi {
    position: absolute;
    top: 0;
    left: calc(50% - 645.93px);
    width: 1291.86px;
    height: 739px;
    object-fit: cover;
  }
  .vector-parent35 {
    position: absolute;
    top: 213px;
    left: -16px;
    width: 1291.86px;
    height: 739px;
  }
  .hero-section-child {
    position: absolute;
    top: 79px;
    left: 740px;
    border-radius: var(--br-181xl);
    width: 239px;
    height: 100px;
  }
  .looking {
    font-weight: 500;
  }
  .place {
    color: var(--color-white);
  }
  .for-a-place-to-rentsell-or-bu {
    font-weight: 800;
  }
  .looking-for-a-container {
    position: absolute;
    top: 74px;
    left: calc(50% - 322px);
    display: inline-block;
    width: 646px;
  }
  .hero-section-inner,
  .hero-section-item {
    position: absolute;
    top: 124px;
    left: 387px;
    border-radius: 50%;
    background-color: var(--color-silver-100);
    width: 11px;
    height: 11px;
  }
  .hero-section-inner {
    left: 427px;
  }
  .browse {
    position: absolute;
    top: calc(50% - 24px);
    left: calc(50% - 60px);
  }
  .browse-wrapper {
    position: absolute;
    top: 327px;
    left: calc(50% - 124px);
    border-radius: var(--br-5xs);
    background-color: var(--color-teal-100);
    width: 228px;
    height: 76px;
    overflow: hidden;
    font-size: 32px;
    color: var(--color-white);
  }
  .hero-section-child1,
  .hero-section-child2 {
    position: absolute;
    top: 130px;
    left: 389px;
    border-radius: var(--br-181xl);
    width: 8px;
    height: 5px;
  }
  .hero-section-child2 {
    left: 429px;
  }
  .hero-section-child3,
  .hero-section-child4 {
    position: absolute;
    top: 132px;
    left: 391px;
    border-radius: 50%;
    background-color: var(--color-white);
    width: 3px;
    height: 3px;
  }
  .hero-section-child4 {
    left: 431px;
  }
  .buy-sell-or {
    position: absolute;
    top: 249px;
    left: calc(50% - 215px);
    font-size: var(--font-size-5xl);
    color: var(--color-black);
  }
  .hero-section,
  .hero-section1 {
    position: absolute;
    left: 0;
    width: 1280px;
    height: 806px;
  }
  .hero-section1 {
    top: 0;
    background-color: rgba(255, 255, 255, 0.2);
    overflow: hidden;
  }
  .hero-section {
    top: 56.5px;
    font-size: 62px;
    color: var(--color-gray-100);
  }
  .frame-child84 {
    position: absolute;
    top: 7.5px;
    left: 9px;
    width: 49px;
    height: 35px;
  }
  .bgr2,
  .house2 {
    position: absolute;
    top: 24.5px;
    left: 14px;
  }
  .bgr2 {
    top: 14.5px;
    left: 19px;
    font-size: var(--font-size-sm);
    font-weight: 900;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  }
  .blue-house-icon-isolated2 {
    position: absolute;
    top: 11.5px;
    left: 18px;
    width: 12px;
    height: 10px;
    object-fit: cover;
  }
  .vector-parent36 {
    position: absolute;
    top: 0;
    left: 129.5px;
    border-radius: 4px;
    width: 68px;
    height: 51px;
    overflow: hidden;
    font-size: var(--font-size-xs);
    color: var(--color-white);
  }
  .rent1 {
    position: absolute;
    top: 15px;
    left: 336.5px;
    font-weight: 500;
  }
  .buy1,
  .locations,
  .pricing1,
  .review1,
  .sign-in {
    position: absolute;
    top: 15px;
    left: 428.5px;
    font-weight: 500;
  }
  .locations,
  .pricing1,
  .review1,
  .sign-in {
    left: 515.5px;
  }
  .pricing1,
  .review1,
  .sign-in {
    left: 643.5px;
  }
  .pricing1,
  .sign-in {
    left: 753.5px;
  }
  .sign-in {
    top: 10px;
    left: 42px;
  }
  .sign-in-wrapper {
    position: relative;
    border-radius: var(--br-5xs);
    background-color: var(--color-teal-100);
    width: 120px;
    height: 40px;
    overflow: hidden;
    flex-shrink: 0;
    color: var(--color-white);
  }
  .sign-up-parent {
    position: absolute;
    top: 5.5px;
    left: 941.5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 36px;
    color: var(--color-teal-100);
  }
  .rectangle-div {
    position: absolute;
    top: 34.5px;
    left: 754px;
    border-radius: 42px;
    background-color: var(--color-teal-100);
    width: 20px;
    height: 1px;
  }
  .hero-section-parent {
    position: absolute;
    top: -355px;
    left: calc(50% - 5837px);
    background-color: var(--color-white);
    width: 1280px;
    height: 862.5px;
    text-align: center;
    font-size: var(--font-size-sm);
    color: var(--color-black);
  }
  .new-redesign {
    position: relative;
    background-color: var(--color-white);
    width: 100%;
    height: 3687px;
    overflow: hidden;
    text-align: left;
    font-size: 13.97px;
    color: var(--color-gray-100);
    font-family: var(--font-poppins);
  }


  
@media (max-width: 1200px) {
    .group-parent1 {
      grid-template-columns: repeat(3, 1fr); /* 3 columns on screens up to 1200px wide */
    }
  }
  
  @media (max-width: 768px) {
    .group-parent1 {
      grid-template-columns: repeat(2, 1fr); /* 2 columns on screens up to 768px wide */
    }
  
    /* Additional styling for smaller screens if needed */
  }
  